#map-div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#map-div .container {
  max-width: 100%;
}

#template-div{
    position: absolute;
    top: 50px;
    right: 5px;
}

#map-tools {
  position: absolute;
  top: 1em;
  right: 1em;
}

#search {
    display: block;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 74px;
}